<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 扫描@Controller @Service base-package 是要扫描注解的包-->
	<context:component-scan base-package="ssm"/>
	
	<!-- 注解驱动 -->
	<mvc:annotation-driven conversion-service="consersionServiceFactoryBean"/>
	
	<!-- 配置Converter转换器 转换工厂 -->
	<bean id="consersionServiceFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!--配置多个转换器  -->
		<property name="converters">
			<list>
				<bean class="ssm.controller.DateConvercer"/>
			</list>
		</property>
	</bean>
	
	<!-- 视图解析器
	    如果Controller中书写的是视图的逻辑名，这个视图解析器必须要配置。
	    前缀+视图逻辑名+后缀=真实路径
	    如果Controller中书写的是视图的真实名称，这个视图解析器就不需要配置
	 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<!-- 路径前缀 -->
   	 	<property name="prefix" value="/WEB-INF/jsp/"></property>
    	<!-- 路径后缀 -->
    	<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 配置拦截器,可以配置多个拦截器-->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- /*只能拦截一层的请求， /**可以拦截多层的请求 -->
			<mvc:mapping path="/**"/>
			<bean class="ssm.interceptor.Interceptor1" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="ssm.interceptor.Interceptor2" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>